.App {
  display: flex;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  width: 25%;
  padding: 40px 40px 0 0;
}

.book-card img {
  width: 100%;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 20%;
  background-color: #f2f2f2;
  height: 100vh;
}

ul {
  list-style-type: none;
}

li img {
  width: 20px;
  height: 20px;
  align-self: center;
  padding-right: 10px;
}

li {
  display: flex;
}

.books-page {
  width: 80%;
  padding: 50px;
}
.books-page-content {
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
  background-color: #333333;
  color: #ffffff;
}

button {
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
  margin: 0 5px;
}

.categories {
  margin-bottom: 5px;
}

.nav-selection {
  color: #909090;
}

.nav-selection:focus {
  color: #333333;
}
